.wrapper {
    /* First define the column count  */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 2nd, define rows  */
    grid-auto-rows: minmax(100px,auto);
    /* column gap  */
    grid-column-gap: 2rem;

    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";
}

.header {
    /* create named grid area  */
    grid-area: h;
    
    
}
.main{
    grid-area: m;
    
    

}
.footer{
    grid-area: f;
   
    
}
.logo{
    grid-area: lo;

}



 .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    
} 


.navbar ul{
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    
    
}
/*Centering logo  in the middle of the page*/
.navbar li.logo{

    background-color: brown;
    
    
}
.leftnav li{ 
    float: left;
    padding: 30px;   
}

.rightnav li{
    float: right;
    padding: 30px; 
}

.navbar li a {
    text-decoration: none;
    font-family: 'Sansita Swashed', cursive;
    display: block;
    
    }

.navbar li a:link {
    color:black;
}

.navbar li a:visited {
    color:black;
}

.navbar li a:hover {
    text-decoration: underline;
}

.navbar li a:active {
    color:grey;
}

.IndexFirstBlock{

    text-align: center;
    padding: 10px;
    margin-top: 180px;
}

.IndexFirstBlock img{
    float: none;
    max-width: 100%;
    padding: 10px;
    

}

.IndexFirstBlockText{
    float: left;
    display: block;
    max-width: 600px;
    min-width: 400px;

}