.wrapper {
    /* First define the column count  */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 2nd, define rows  */
    grid-auto-rows: minmax(100px, auto);
    /* column gap  */
    grid-column-gap: 2rem;

    grid-template-areas:
        "ln ln ln ln l l l l rn rn rn rn"
        "m m m m m m m m m m m m"
        "f f f f f f f f f f f f";
}

.leftnav {
    /* create named grid area  */
    grid-area: ln;
}

.rightnav {
    grid-area: rn;
}

.main {
    grid-area: m;
}

.footer {
    grid-area: f;
}

.logo {
    grid-area: l;
}



.navbar {}


.navbar ul {
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    overflow: hidden;


}

/*Centering logo  in the middle of the page*/
.navbar li.logo {
    background-color: brown;


}

.leftnav li {
    float: right;
    padding: 30px;
}

.rightnav li {
    float: left;
    padding: 30px;
}

.navbar li a {
    text-decoration: none;
    font-family: 'Sansita Swashed', cursive;
    display: block;

}

.navbar li a:link {
    color: black;
}

.navbar li a:visited {
    color: black;
}

.navbar li a:hover {
    text-decoration: underline;
}

.navbar li a:active {
    color: grey;
}

.IndexFirstBlock {

    text-align: center;
    padding: 10px;
    margin-top: 180px;
}

.IndexFirstBlock img {
    float: none;
    max-width: 100%;
    padding: 10px;


}

.IndexFirstBlockText {
    float: left;
    display: block;
    max-width: 600px;
    min-width: 400px;

}

.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 2nd, define rows  */
    grid-auto-rows: minmax(100px, auto);
    /* column gap  */
    grid-column-gap: 2rem;

    grid-template-areas:
        "c1 c1 c1 c1 c1 c1 c2 c2 c2 c2 c2 c2"
}

.main.home {
    background: red;
}

.main.news {
    background: pink;

    grid-template-areas:
        "c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2"
        "c1 c1 c1 c1 c1 c1 c3 c3 c3 c3 c3 c3 "
}

@media (min-width: 765px) {
    .main.news {


        grid-template-areas:
            "c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2"
            "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1"
            "c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3"
    }
}


.col1 {
    grid-area: c1;
}

.col2 {
    grid-area: c2;
}

.col3 {
    grid-area: c3;
}
